.filter {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 611px;
}

/* .filter>.filter-item:not(:last-child) 
{padding-right: 8px;} */

.filter-button,
.current-button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background: var(--button-text-color);
    border-radius: 4px;
    border: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button {
    border-color: var(--button-text-color);
}

.filter-button:hover,
.filter-button:focus,
.current-button,
.current-button:hover,
.current-button:focus {
    background-color: var(--brand-color);
    color: var(--hero-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}